
/* OSNOVNO */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    /* 🔥 ZATAMNJENA POZADINA */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url('stom2.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
}

/* NAVIGACIJA */
nav {
    background-color: rgba(255, 182, 193, 0.8);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #b30059;
}

/* HERO */
.hero-onama {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-onama h1 {
    font-size: 60px;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

/* TEKST */
.onama-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 20px;

    font-size: 20px;
    line-height: 1.7;

    background: transparent;

    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

/* GLATKI SCROLL */
html {
    scroll-behavior: smooth;
}